@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #ffffff; /* White background */
  --font-color: #000000; /* Black fonts */
  --accent-green: #00ff00; /* Green accent color */
  --accent-orange: #ffa500; /* Orange accent color */
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #333333; /* Dark background */
    --font-color: #ffffff; /* White fonts */
  }
}

body {
  color: var(--font-color);
  background-color: var(--background-color);
}

/* Green accent */
.green-accent {
  color: var(--accent-green);
}

/* Orange accent */
.orange-accent {
  color: var(--accent-orange);
}

